<div class="card">
        <div>
            <img class="image" [src]="rocket.links.mission_patch">
        </div>
        <ul>
           <li class="flight-name">
            {{this.rocket.mission_name}} # {{this.rocket.flight_number}}
           </li>
            <li>
                Mission Ids:
                <ul>
                    <li class="details">•&nbsp;{{this.rocket.mission_id.length === 0 ? 'No mission id' : this.rocket.mission_id}}</li>
                </ul>
            </li>
            <li>
                Launch Year:
                <span class="details">{{this.rocket.launch_year}}</span>
            </li>
            <li>
                Successful Launch:
                <span class="details">
                    {{this.rocket.launch_success ? 'true' : 'false'}}
                </span>
            </li>
            <li>
                Successful Landing:
                <span class="details">
                    <!-- true -->
                    {{this.rocket.land_success ? 'true' : 'false'}}
                </span>
            </li>
          </ul>  
    </div>