.details {
    color: #63659f;
    font-weight: 400;
}

.image{
    background-color: #F2F2F2;
    width: 13rem;
    height: 15rem;
}
@media only screen and (max-width: 1024px){
.image{

width: 20rem;
    height: 16rem;
}
}
.card {
    width: 100%;
    padding: 1rem;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.flight-name {
    color: #63659f;
    font-weight: bold;
    margin: 4px 1px 8px 1px;
    width: 13rem;
}

ul{
    padding-left: 0;
}