body {
  background-color: #f2f2f2;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) and (min-width: 400px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1440px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
.row-flex {
  flex: 0 0 23%;
  max-width: 25%;
}

@media (min-width: 992px) {
  .row-flex {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .row-flex-2 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.home {
  background-color: #f2f2f2;
}

.card-container {
  width: 100%;
  background-color: white;
}

@media  (max-width:600px) {
.card-container {

  width: 25rem;
 
  }
}
.header {
  color: #111111;
  margin-top:0;
}

.heading-style {
  text-align: center;
  margin-top: 1rem;
}


.filter {
  margin: 0.4rem;
}

.button-filter-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
}

.button-filter {
  flex: 0 40%;
  margin: 10px;
  background-color: #94ca96;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  border-radius: 4px;
}

.btn-success{
  background-color: #52aa55;

}
.nodata {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}


@media (min-width: 992px) {
  .no-data {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.center{
display: flex;
    justify-content: center;
}
.heading-style-launch-year {
  text-align: center;
  margin-top: -1rem;
}